numpy==1.26.4
pandas==1.5.3
pandas_market_calendars==3.6             
matplotlib==3.8.4
yfinance==0.2.37
alpaca-trade-api==3.0.2
beautifulsoup4==4.12.3
requests==2.31.0
tqdm==4.66.4
python-dotenv==1.0.1
scikit-learn==1.4.2
pytz==2024.1
seaborn==0.13.2
PyYAML==6.0

